<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}

      
  <!-- main header -->
  <div class="container-fluid main_header"> 
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="./images/4041.png" alt="image" class="img-fluid" title="project image">
                </figure>
              
               
            </div>
            <div class="col-md-6 col-12 main_header_left ">
            
               <h1>{{errMsg}}</h1> 
                  <a href="/"><button>Go Back</button></a>
            </div>

            
          </div>
        </div>
    </div>
  </div>
<!-- footer code -->
<footer>
  <p>created with love ❤ by yash</p>

</footer>
</body>
</html> 