<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}

      
  <!-- main header -->
  <div class="container-fluid main_header"> 
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="./images/dev.jpg" alt="image" class="img-fluid" title="project image">
                </figure>
              
               
            </div>
            <div class="col-md-6 col-12 main_header_left ">
                <p>WElcome to weather app</p>
                <h1>I am software developer <span class="text_clr">Mern Stack developer </span> and work at MLE System<h1>
                  <a href=" https://www.linkedin.com/in/yash-gupta-2189a511b/"><button>about me</button></a>
            </div>

            
          </div>
        </div>
    </div>
  </div>
<!-- footer code -->
<footer>
  <p>created with love ❤ by yash</p>

</footer>
</body>
</html> 