<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navlogout}}

      
  <!-- main header -->
  <div class="container-fluid main_header"> 
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="./images/dev.jpg" alt="image" class="img-fluid" title="project image">
                </figure>
              
               
            </div>
            <div class="col-md-6 col-12 main_header_left ">
                <p>Welcome to weather app</p>
                <h1>Hi <span class="text_clr">{{user}}</span> You are logged in<h1>
                 <a href="/logout"><button> Logout</button></a>
            </div>

            
          </div>
        </div>
    </div>
  </div>
<!-- footer code -->
<footer>
  <p>created with love ❤ by yash</p>

</footer>
</body>
</html> 